/*------history-------*/
 #mainheader{
        background-image: url(img/333.jpg); height:fit-content;  background-size: cover; 
        text-align: center; 
        padding: 10%;
        background-repeat: no-repeat;
        width: auto
      }
      
      body {
    width:auto;
    padding: 10%;
    padding-top: 5%;
    background-color: rgba(4, 71, 160, 0.301);
    text-align: justify;
    padding-side:justify;
  }
   p1{
    text-align: justify;
    padding-side:justify;
  }
 
  
  p {
    color: black;
    text-align: justify;
  }
  *
  {
    font-family: Georgia, 'Times New Roman', Times, serif;
  }
h1{
    font-size: 50pt;
    font-style: italic;
    }
   